/* requirement 1 */
#logo{
    animation: logo 5s 1;
}

@keyframes logo{
    from {width: 25px;}
    to {width: 475px;}
}

/* requirement 2 */
body {
    font-family: 'Poppins', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* requirement 3 */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* requirement 4 */
.nav_links{
    display: flex;
    flex-direction: column;
}

/* requirement 5 */
a:visited{
    color: #0000EE;
}

/* requirement 6 */
.card > header{
    background:#288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
    margin: 0;
    /* width: 100%; */
    /* Add justify-content here to center the price, though the price in example screenshot isn't centered   */
    justify-content: center;
}

/* .card > header{
    background-image: url("../images/concrete_seamless.png");
    border-bottom: 0;
    margin-bottom: 0;
} */

/* requirement 7 */
.card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    border-radius: 50px 50px 0 0;
}

/* requirement 8, wrap is important */
.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* requirement 9 */
.gallery img{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* requirement 10 */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    
    /* requirement 11 */
    header, .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* requirement 12 */
    .pricing, .card {
        flex-basis: 275px;
    }

    /* requirement 13 */
    body > header{
        position: fixed;
        top: 0;
        width: 100%;
    }

    main{
        margin-top: 100px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    
    /* requirement 14 */
    #logo{
        animation: none;
    }
}

@media print{
    
    /* TODO: remember to delete */
    /* @page {
        size: portrait;
    } */

    /* requirement 15, 16 */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    
    /* requirement 17 */
    nav{
        width: 100%;
    }

    .nav_links{
        flex-direction: row;
        justify-content: space-around;
    }

    /* requirement 18 */
    .pricing{
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    /* requirement 19 */
    .card{
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    /* requirement 20 */
    #gallery, .gallery{
        display: none;
    }

    /* requirement 21 */
    main li:nth-child(2):after {
        content: ' \1F44D';
      }

}